In [1]:
URL = "https://en.wikipedia.org/wiki/James_Bond"

from gazpacho import get, Soup

soup = Soup(get(URL))
bond_data = soup.find("table")[7]
movies = bond_data.find("tr")

#### Declaring empty lists.

In [2]:
name_of_movies = []
year_of_movies = []
Actor = []
Director = []

#### As name and year of movie does not repeat in the table it can be parsed directly.

In [3]:
for i in range (1, len(movies)):
    name_of_movies.append(movies[i].find("td")[0].text)      
    year_of_movies.append(movies[i].find("td")[1].text)

#### Parsing Directors and Actors.

In [4]:
i = 1 
while i < len(movies):                                         # Looping untill last entry in the table.
    rowspan = movies[i].find("td")[2].attrs.get("rowspan")     # Finding how many times actor is repeated i.e Value of rowspan.
    rowspan = int(rowspan) if rowspan is not None else 1       # If attribute rowpan exists convert it to int else set 1 as default.
    Actor = Actor + [movies[i].find("td")[2].text]* rowspan    # Repeat the actor for the length of rowspan.
    i += rowspan                                               # Jump to the NEXT ACTOR.
                                                               # Loop back until the total number of rowspan is not equal to total number of entries in table.
    
i = 1 
while i < len(movies):
    rowspan = movies[i].find("td")[-1].attrs.get("rowspan")
    rowspan = int(rowspan) if rowspan is not None else 1
    Director = Director + [movies[i].find("td")[-1].text]* rowspan
    i += rowspan
    
'''
for i in range (0,len(name_of_movies)):
    print(name_of_movies[i], year_of_movies[i], Actor[i], Director[i], sep=",")
'''

'\nfor i in range (0,len(name_of_movies)):\n    print(name_of_movies[i], year_of_movies[i], Actor[i], Director[i], sep=",")\n'

In [5]:
import pandas as pd

data = pd.DataFrame({"Movie":name_of_movies, "Year": year_of_movies, "Actor":Actor, "Director": Director})
data.head()

                   Movie  Year         Actor       Director
0                 Dr. No  1962  Sean Connery  Terence Young
1  From Russia with Love  1963  Sean Connery  Terence Young
2             Goldfinger  1964  Sean Connery   Guy Hamilton
3            Thunderball  1965  Sean Connery  Terence Young
4    You Only Live Twice  1967  Sean Connery  Lewis Gilbert